*{
  margin: 0;
  padding: 0;
}


/*ヘッダー*/
header{
  background-color: #c4dfe6;
  height:200px;
}

header h1{
  text-align: center;
  padding: 50px;
}

header h1 a{
  text-decoration: none;
  color:#07575b;
}

header h1 a:hover{
  text-decoration: underline;
}

header ul li{
  float: right;
  list-style: none;
  position: relative;
}

header ul li a{
  text-decoration: none;
  color:#07575b;
  padding: 0 15px 0 15px;
  font-weight: bold;
}

header ul li a:hover{
  text-decoration: underline;
}

/*文字*/
h2{
  text-align: center;
}

h3{
  text-align: center;
  padding: 10px auto;
  margin-bottom:20px;
}

p{
  text-align: center;
}

#course{
  text-align: center;
  margin: 0 auto;
  height:500px;
  width: 980px;
}

/*ホームのパネル*/
.panel{
  background: #c4dfe6;
  border: 1px solid #eee;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 15px;
  padding: 15px;
  width: 30%;
  float: inherit;
  min-height: 300px;
  text-align: center;
  float: left;
}


/*フッター*/
footer{
  text-align: center;
  background-color: #003b46;
  color:white;
  padding: 10px 0 10px 0;
  margin-top: 0;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  text-decoration:underline;
}

/*フォーム*/
#form-contact{
  width: 500px;
  margin: 0 auto;
  height:550px;
}

#images{
  height: 200px;
}

#form-login{
  height:250px;
}

input[type="text"]{
  width: 100%;
  height: 30px;
  margin: 0 auto 15px auto;
}

input[type="password"]{
  width: 100%;
  height: 30px;
  margin: 0 auto 15px auto;
}

textarea{
  width: 100%;
}


/*送信ボタン*/
input[type="submit"]{
  float:right;
  padding: 15px 30px;
  background-color: #333;
  color: white;
}

.button:hover{
  background-color: #000;
}


/*コンタクト*/
label{
  text-align: left;
}



/*会員登録高さ*/
#member-main{
  height:450px;
}



/*コンテンツ*/
form{
  width:500px;
  margin: 0 auto;
}

h2{
  text-align: center;
  margin-bottom:50px;
  color:#333;
  padding-top: 50px;
}

input[type="submit"]{
  float:right;
  padding: 15px 30px;
  background-color: #333;
  color: white;
}

.button:hover{
  background-color: #000;
}

.post{
  text-align: center;
}





/*エラーメッセージ*/
.err_msg{
  color:#ff4b4d;
}

/*バリデーション*/
.help-block{
  font-size:14px;
  margin-left: 10px;
}

/*エラー時*/
.has-error input, .has-error textarea{
  border: 1px solid #ff4d4b;
}
.has-error .help-block, .has-error label{
  color:#ff4d4b;
}

/*サクセス時*/
.has-success input, .has-success textarea{
  border: 1px solid #2fb4ce;
}
.has-success .help-block, .has-success label{
  color:#2fb4ce;
}

/*マイページ高さ*/
#mypage-main{
  height:300px;
}

/*マイページの注意*/
#notice{
  margin-top: 100px;
}

/*教師の転職.comロゴ*/
.logo{
  font-weight: bold;
}

.img_area{
  position: relative;
  display: block;
     margin:0 auto;

}
